%h1= "Current Tour: #{current_tour.name}"

%h2 Upcoming Shows
%ul
  - @upcoming_shows.each do |show|
    %li= link_to"#{show.date}" + (show.venue ? " #{show.venue.name}, #{show.venue.city} #{show.venue.state}" : ""), show_url(show)

%h2 Past Shows
%ul
  - @past_shows.each do |show|
    %li= link_to"#{show.date}" + (show.venue ? " #{show.venue.name}, #{show.venue.city} #{show.venue.state}" : ""), show_url(show)
