%h1 New Request
.panel
  - form_for @fan_request do |f|
    %h2 Show
    %fieldset
      .row
        = f.select :show_id, Show.upcoming.collect{|sg| ["#{sg.date} #{sg.venue.name}", sg.id]}
    %h2 Song
    %fieldset
      .row
        = f.select :song_id, Song.all.collect{|sg| [sg.name, sg.id]}
    %h2 Details    
    %fieldset    
      .row
        = f.label :requested_by, "Requested By:"
        = f.text_field :requested_by

    = f.text_area :notes
    = f.submit "Submit"