-   @title     = "New Request"
-    @left_nav  = { :back => true, :url => fan_requests_url, :caption => 'Back', :html_options => {} }
= te_navigation_bar @left_nav, @title
.panel{:selected => true}
  - form_for @fan_request do |f|
    %h2 Show
    %fieldset
      .row
        = f.select :show_id, Show.upcoming.find(:all, :order => "date asc").collect{|sg| ["#{sg.date} #{sg.venue.name}", sg.id]}
    %h2 Song
    %fieldset
      .row
        = f.select :song_id, Song.find(:all, :order => "name asc").collect{|sg| [sg.name, sg.id]}
    %h2 Details
    %fieldset
      .row
        = f.label :requested_by, "Requested By:"
        = f.text_field :requested_by

    = f.text_area :notes
    = f.submit "Submit"