#top
  = sexy_button_to "Print Set List", print_set_list_show_url(@show), :popup => true, :class => "right_button"
  %h1= "Set List Builder:"
  %span.sub_header= "#{@show.date}" + (@show.venue ? " #{@show.venue.name}, #{@show.venue.city} #{@show.venue.state}" : "")

#left_bar
  %ul
    - if @tour
      %li= render :partial => "shared/song_box", :locals => {:songs => @tour.song_stats, :header => "Played This Tour", :description => "Songs played this tour ordered by number of times played"}
    %li= render :partial => "shared/song_box", :locals => {:songs => Song.originals.by_frequency.order_by_plays.find(:all, :order => "name asc"), :description => "All original songs ever played ordered by number of times played", :header => "Original Songs"}
    %li= render :partial => "shared/song_box", :locals => {:songs => Song.by_frequency.covers.order_by_plays.find(:all, :order => "name asc"), :description => "All cover songs ever played ordered by number of times played", :header => "Cover Songs"}
    %li= render :partial => "shared/song_box", :locals => {:songs => Song.order_by_plays.played_near_recently(@show.venue.address), :description => "All songs played within 40 mile radius in last 3 years", :header => "Played Here Recently"}
    %li= render :partial => "shared/song_box", :locals => {:songs => Song.requested_for_show(@show), :description => "Songs requested by fans for this show", :header => "Requested"}
    %li= render :partial => "shared/song_box", :locals => {:songs => Song.not_yet_played, :description => "Songs the band has not yet played live", :header => "Not Yet Played Live"}
#main
  - @show_set_lists.each_with_index do |show_set_list, i|
    .show_set_list{:id => "show_set_list_#{show_set_list.id}"}
      .show_set_list_title.clearfix
        = link_to_function('show/hide', "Element.toggle('set_list_#{show_set_list.set_list.id}')", :class => "set-communications-button right_button")
        = link_to "(delete)", show_set_list_url(show_set_list), :method => :delete, :confirm  => "Are you sure you want to delete this set?", :class => "set-communications-button right_button", :style => "padding-right:20px;"
        %h2{:style => "float:left;margin-right:15px;"}=show_set_list.name || ( (@show.show_set_lists.size - 1) == i ? "Encore:" : "Set #{i + 1}:")

        - if show_set_list.notes.blank?
          = link_to_function('add set list note', "Element.show('set_notes_#{show_set_list.id}');Element.hide('set_notes_#{show_set_list.id}_toggle')", :class => "set-communications-button left_button", :style => "float:left;padding: 10px 0px 0px 10px;", :id => "set_notes_#{show_set_list.id}_toggle")
        %div{:id => "set_notes_#{show_set_list.id}", :style => "#{show_set_list.notes.blank? ? "display:none;" : ""}"}
          = text_field_tag "show_set_list_notes_#{show_set_list.id}", show_set_list.notes
          = observe_field("show_set_list_notes_#{show_set_list.id}" , :frequency => 1, :url => update_notes_show_set_list_url(show_set_list), :with => "notes")

      = render :partial => "show_set_lists/set_list", :locals => {:set_list => show_set_list.set_list}



  = sexy_button_to 'New show_set_list', new_show_show_set_list_path(@show)