.set_list{:id => "set_list_#{set_list.id}"}
  %ul{:id => "song_performances_#{set_list.id}"}
    - set_list.song_performances.each do |sp|
      %li{:id => "song_performance_#{sp.id}", :class => "song_performance_row"}
        .song_performance_content{:class => "show"}
          .song_performance_notes
            -# song_performance.tags.select{|de| band_tags.include?(de)}.each do |tag|
              %span= tag.name
            %span= sp.notes
          .song_perfomance_icons
          .song_performance_name= (sp.inverted? ? "<b>[X]</b>" : "") +  sp.song.name
          %span{:id => "song_performance_#{sp.id}_segue"}
            %em{:class => "song_performance_segue  #{sp.segue? ? "segue" : "stop"}"}= "#{sp.segue? ? ">" : ","}"
          %br{:clear => "all"}