-   @title     = "Show"
-    @left_nav  = { :back => true, :url => (parent_object ? tour_url(@show.tour) : objects_url), :caption => 'Back', :html_options => {} }
-    @right_nav = { :caption => 'Home', :url => "/welcome", :html_options => {} }
= te_navigation_bar @left_nav, @title
%h1=# "#{@show.date}" + (@show.venue ? " #{@show.venue.name}, #{@show.venue.city} #{@show.venue.state}" : "")


%ul{:selected => "true"}
  - @show.show_set_lists.each_with_index do |show_set_list, i|
    %li{:class => "group"}=show_set_list.name || ( (@show.show_set_lists.size - 1) == i ? "Encore:" : "Set #{i + 1}:")
    - show_set_list.set_list.song_performances.each do |sp|
      %li=  song_performance_for_set_list(sp)
