.container
  #top-navigation
    %ul
      %li= link_to "Dashboard", root_url
      %li= link_to "Shows", shows_url
      %li= link_to "Tours", tours_url
      %li= link_to "Songs", songs_url
      %li= link_to "Logout", logout_url